{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft Graph Mail Folders",
    "description": "API for graph.microsoft.com",
    "version": "1.0"
  },
  "host": "graph.microsoft.com",
  "basePath": "/v1.0",
  "schemes": [
    "https"
  ],
  "paths": {
    "/me/mailFolders": {
      "get": {
        "description": "Get mail folder ID",
        "operationId": "GetMailFolderId",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "description": "Filter",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MailFolders"
            }
          }
        }
      }
    },
    "/me/mailFolders/{mailFolderId}/messages": {
      "get": {
        "description": "Get messages",
        "operationId": "GetMessages",
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "mailFolderId",
            "in": "path",
            "description": "Mail folder ID",
            "required": true,
            "type": "string"
          },
          {
            "name": "filter",
            "in": "query",
            "description": "Filter",
            "required": false,
            "type": "string"
          },
          {
            "name": "top",
            "in": "query",
            "description": "Top",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Messages"
            }
          }
        }
      }
    },
    "/me/messages/{messageId}/Move": {
      "post": {
        "description": "Move message",
        "operationId": "MoveMessage",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "application/json"
        ],
        "parameters": [
          {
            "name": "messageId",
            "in": "path",
            "description": "Message ID",
            "required": true,
            "type": "string"
          },
          {
            "name": "FolderDestination",
            "in": "body",
            "description": "Folder destination id",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FolderDestination"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/MoveMessageResponse"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "FolderDestination": {
      "description": "Model for FolderDestination",
      "required": [
        "destinationId"
      ],
      "properties": {
        "destinationId": {
          "type": "string"
        }
      }
    },
    "MoveMessageResponse": {
      "description": "Model for MoveMessageResponse",
      "properties": {
        "id": {
          "type": "string"
        },
        "subject": {
          "type": "string"
        }
      }
    },
    "MailFolders": {
      "description": "Model for MailFolders",
      "required": [
        "value"
      ],
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/MailFolder"
          }
        }
      }
    },
    "Messages": {
      "description": "Model for Messages",
      "required": [
        "value"
      ],
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/MailMessage"
          }
        }
      }
    },
    "Flag": {
      "description": "Model for Flag",
      "required": [
        "flagStatus"
      ],
      "properties": {
        "flagStatus": {
          "type": "string"
        }
      }
    },
    "ToRecipients": {
      "description": "Model for ToRecipients",
      "required": [
        "emailAddress"
      ],
      "properties": {
        "emailAddress": {
          "$ref": "#/definitions/EmailAddress"
        }
      }
    },
    "From": {
      "description": "Model for From",
      "required": [
        "emailAddress"
      ],
      "properties": {
        "emailAddress": {
          "$ref": "#/definitions/EmailAddress"
        }
      }
    },
    "EmailAddress": {
      "description": "Model for EmailAddress",
      "required": [
        "address"
      ],
      "properties": {
        "address": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "Sender": {
      "description": "Model for Sender",
      "required": [
        "emailAddress"
      ],
      "properties": {
        "emailAddress": {
          "$ref": "#/definitions/EmailAddress"
        }
      }
    },
    "Body": {
      "description": "Model for Body",
      "required": [
        "content"
      ],
      "properties": {
        "content": {
          "type": "string"
        },
        "contentType": {
          "type": "string"
        }
      }
    },
    "MailFolder": {
      "description": "Model for MailFolder",
      "properties": {
        "childFolderCount": {
          "type": "integer",
          "format": "int32"
        },
        "displayName": {
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "parentFolderId": {
          "type": "string"
        },
        "totalItemCount": {
          "type": "integer",
          "format": "int32"
        },
        "unreadItemCount": {
          "type": "integer",
          "format": "int32"
        }
      }
    },
    "MailMessage": {
      "description": "Model for MailMessage",
      "properties": {
        "body": {
          "$ref": "#/definitions/Body"
        },
        "bodyPreview": {
          "type": "string"
        },
        "createdDateTime": {
          "type": "string",
          "format": "date-time"
        },
        "flag": {
          "$ref": "#/definitions/Flag"
        },
        "from": {
          "$ref": "#/definitions/From"
        },
        "hasAttachments": {
          "type": "boolean"
        },
        "id": {
          "type": "string"
        },
        "importance": {
          "type": "string"
        },
        "isDraft": {
          "type": "boolean"
        },
        "isRead": {
          "type": "boolean"
        },
        "lastModifiedDateTime": {
          "type": "string",
          "format": "date-time"
        },
        "receivedDateTime": {
          "type": "string",
          "format": "date-time"
        },
        "sender": {
          "$ref": "#/definitions/Sender"
        },
        "sentDateTime": {
          "type": "string",
          "format": "date-time"
        },
        "subject": {
          "type": "string"
        },
        "toRecipients": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ToRecipients"
          }
        }
      }
    }
  }
}