{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft Graph Mail Folders",
    "description": "API for graph.microsoft.com",
    "version": "0.0.0"
  },
  "host": "graph.microsoft.com",
  "basePath": "/v1.0",
  "schemes": [
    "https"
  ],
  "paths": {
    "/me": {
      "get": {
        "tags": [
          "Me"
        ],
        "summary": "Get user info",
        "description": "Get",
        "operationId": "get",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/User"
            }
          }
        },
        "security": [
          {
            "oauth2": [
              "https://graph.microsoft.com/.default"
            ]
          }
        ]
      }
    }
  },
  "definitions": {
    "User": {
      "description": "Model for User",
      "properties": {
        "businessPhones": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "displayName": {
          "type": "string"
        },
        "givenName": {
          "type": "string"
        },
        "id": {
          "type": "string"
        },
        "jobTitle": {
          "type": "string"
        },
        "mail": {
          "type": "string"
        },
        "mobilePhone": {
          "type": "string"
        },
        "officeLocation": {
          "type": "string"
        },
        "preferredLanguage": {
          "type": "string"
        },
        "surname": {
          "type": "string"
        },
        "userPrincipalName": {
          "type": "string"
        }
      }
    }
  },
  "securityDefinitions": {
    "oauth2": {
      "description": "OAuth2 authentication scheme for the API",
      "type": "oauth2",
      "flow": "accessCode",
      "authorizationUrl": "https://login.microsoftonline.com/55ab9e4e-ee08-4ac0-8a2c-17dbea84d7f9/oauth2/v2.0/authorization",
      "tokenUrl": "https://login.microsoftonline.com/55ab9e4e-ee08-4ac0-8a2c-17dbea84d7f9/oauth2/v2.0/token",
      "scopes": {
        "https://graph.microsoft.com/.default": "Graph Default"
      }
    }
  },
  "tags": [
    {
      "name": "Me",
      "description": "Operations about Me"
    }
  ]
}