{
  "swagger": "2.0",
  "info": {
    "title": "Microsoft Graph",
    "description": "API for graph.microsoft.com",
    "version": "0.0.0"
  },
  "host": "graph.microsoft.com",
  "basePath": "/v1.0",
  "schemes": [
    "https"
  ],
  "paths": {
    "/me/messages": {
      "get": {
        "tags": [
          "Me"
        ],
        "description": "Messages",
        "operationId": "messages",
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Messages"
            }
          }
        },
        "security": []
      }
    }
  },
  "definitions": {
    "Flag": {
      "description": "Model for Flag",
      "required": [
        "flagStatus"
      ],
      "properties": {
        "flagStatus": {
          "type": "string"
        }
      }
    },
    "EmailAddress3": {
      "description": "Model for EmailAddress3",
      "required": [
        "address"
      ],
      "properties": {
        "address": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "ToRecipients": {
      "description": "Model for ToRecipients",
      "required": [
        "emailAddress"
      ],
      "properties": {
        "emailAddress": {
          "$ref": "#/definitions/EmailAddress"
        }
      }
    },
    "From": {
      "description": "Model for From",
      "required": [
        "emailAddress"
      ],
      "properties": {
        "emailAddress": {
          "$ref": "#/definitions/EmailAddress"
        }
      }
    },
    "EmailAddress": {
      "description": "Model for EmailAddress",
      "required": [
        "address"
      ],
      "properties": {
        "address": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "Sender": {
      "description": "Model for Sender",
      "required": [
        "emailAddress"
      ],
      "properties": {
        "emailAddress": {
          "$ref": "#/definitions/EmailAddress"
        }
      }
    },
    "Body": {
      "description": "Model for Body",
      "required": [
        "content"
      ],
      "properties": {
        "content": {
          "type": "string"
        },
        "contentType": {
          "type": "string"
        }
      }
    },
    "Value": {
      "description": "Model for Value",
      "required": [
        "bccRecipients"
      ],
      "properties": {
        "bccRecipients": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "body": {
          "$ref": "#/definitions/Body"
        },
        "bodyPreview": {
          "type": "string"
        },
        "categories": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "ccRecipients": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "changeKey": {
          "type": "string"
        },
        "conversationId": {
          "type": "string"
        },
        "conversationIndex": {
          "type": "string"
        },
        "createdDateTime": {
          "type": "string",
          "format": "date-time"
        },
        "flag": {
          "$ref": "#/definitions/Flag"
        },
        "from": {
          "$ref": "#/definitions/From"
        },
        "hasAttachments": {
          "type": "boolean"
        },
        "id": {
          "type": "string"
        },
        "importance": {
          "type": "string"
        },
        "inferenceClassification": {
          "type": "string"
        },
        "internetMessageId": {
          "type": "string"
        },
        "isDeliveryReceiptRequested": {
          "type": "boolean"
        },
        "isDraft": {
          "type": "boolean"
        },
        "isRead": {
          "type": "boolean"
        },
        "isReadReceiptRequested": {
          "type": "boolean"
        },
        "lastModifiedDateTime": {
          "type": "string",
          "format": "date-time"
        },
        "parentFolderId": {
          "type": "string"
        },
        "receivedDateTime": {
          "type": "string",
          "format": "date-time"
        },
        "replyTo": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "sender": {
          "$ref": "#/definitions/Sender"
        },
        "sentDateTime": {
          "type": "string",
          "format": "date-time"
        },
        "subject": {
          "type": "string"
        },
        "toRecipients": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ToRecipients"
          }
        },
        "webLink": {
          "type": "string"
        }
      }
    },
    "Messages": {
      "description": "Model for Messages",
      "required": [
        "value"
      ],
      "properties": {
        "value": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Value"
          }
        }
      }
    }
  },
  "securityDefinitions": {},
  "security": [],
  "tags": [
    {
      "name": "Me",
      "description": "Operations about Me"
    }
  ]
}